<div class="row">
  <div class="col-md-8">
    <h1>{{title}}</h1>
    <div class="text">{{{text}}}</div>
  </div>
  <div class="col-md-4">
    <dl>
      <dt>Location</dt>
        <dd>{{spatial}}</dd>
      <dt>Starts</dt>
        <dd>{{startDate}}</dd>
      <dt>Ends</dt>
        <dd>{{endDate}}</dd>
    </dl>
  </div>
</div>
