<div class="row">
  <div class="col-md-8">
    <h1>{{title}}</h1>
    <div class="text">{{{text}}}</div>
  </div>
  <div class="col-md-4">
    <dl>
      <dt>Related Event</dt>
        <dd><a href="#events/{{connectedEvent._id}}">{{connectedEvent.title}}</a></dd>
      <dt>Homepage</dt>
        <dd><a href="{{homepage}}">{{homepage}}</a></dd>
      <dt>Download URL</dt>
        <dd><a href="{{downloadUrl}}">{{downloadUrl}}</a></dd>
    </dl>
  </div>
</div>
