<div class="row">
  <div class="col-md-8">
    <h1>{{title}}</h1>
    <div class="text">{{{text}}}</div>
    <div class="row">
      <div class="col-md-12 images">
        <h2>Images</h2>
        {{#each images}}
          <a class="img-thumbnail" style="background-image:url({{this}})" href="{{this}}"></a>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <dl>
      {{#if connectedEvent}}
        <dt>Related Event</dt>
          <dd><a href="#events/{{connectedEvent._id}}">{{connectedEvent.title}}</a></dd>
      {{/if}}

      {{#if homepage}}
        <dt>Homepage</dt>
          <dd><a target="_blank" href="{{homepage}}">{{homepage}}</a></dd>
      {{/if}}

      {{#if downloadUrl}}
        <dt>Download URL</dt>
          <dd><a target="_blank" href="{{downloadUrl}}">{{downloadUrl}}</a></dd>
      {{/if}}

      {{#if datasets}}
        <dt>Datasets</dt>
          <dd>
            <ul class="datasets">
              {{#each datasets}}
                <li><a target="_blank" href="{{this.url}}">{{this.url}}</a></li>
              {{/each}}
            </ul>
          </dd>
      {{/if}}
    </dl>
  </div>
</div>
