<div class="row">
  <div class="col-md-8">
    <h1>{{title}}</h1>
    <div class="text">{{{text}}}</div>
  </div>
  <div class="col-md-4">
    <dl>
      <dt>Location</dt>
        <dd>{{spatial}}</dd>
      <dt>Starts</dt>
        <dd>{{startDate}}</dd>
      <dt>Ends</dt>
        <dd>{{endDate}}</dd>
    </dl>
  </div>
</div>
<div class="row actions" style="margin-top:1.4em">
  <div class="col-md-12">
    <a class="btn btn-primary" href="#addApplication"><i class="fa fa-plus"></i> Add new application</a>
    <a class="btn btn-primary" href="#addIdea"><i class="fa fa-plus"></i> Add new idea</a>
    <a class="btn btn-default" style="margin-left:1em;" href="#addEvent"><i class="fa fa-plus"></i> Add new event</a>
  </div>
</div>
